# Database Configuration
DB_NAME= # Your database name here!
DB_USER= # Your database login username here!
DB_PASSWORD= # Your database's password here!
DB_HOST=localhost # Replace this with your server's IP address, or keep it if running locally.
DB_PORT=5432 # Replace this with the port you want your database to run on, or keep it default.

# CORS Settings
ALLOWED_ORIGINS=http://localhost:3000 # Replace this with all servers you want to access your database. If running locally, keep it default.